<section class="max-w-screen-xl mx-auto gap-6 grid mb-8 md:mb-12 md:grid-cols-2 my-8">

  <figure
    class="flex rounded-lg shadow-lg flex-col items-center justify-center p-8 text-center border-b rounded-tr-lg bg-gray-800 border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-400 lg:mb-8">
      <p class="my-4">
        "I am nothing. I'll never be anything. I couldn't want to be something. Apart from that, I have within me all
        the dreams of the world."
      </p>
      <h3 class="text-lg font-semibold text-white">
        Fernando Pessoa
      </h3>
    </blockquote>
    <figcaption class="flex items-center justify-center space-x-3">
      <img class="rounded-full w-9 h-9" src="./img/ArlindoPhoto-small.jpg" alt="profile picture" />
      <div class="space-y-0.5 font-medium text-white text-left">
        <div>
          Arlindo Pinto
        </div>
        <div class="text-sm text-gray-500 dark:text-gray-400">
          Student | Full Stack Developer
        </div>
      </div>
    </figcaption>
    <a class="text-white mt-4" href="https://github.com/arlindo2017" target="_blank">
      <i class="text-4xl devicon-github-original"></i>
    </a>
  </figure>
  <figure
    class="flex rounded-lg shadow-lg flex-col items-center justify-center p-8 text-center border-b rounded-tr-lg bg-gray-800 border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-400 lg:mb-8">
      <h3 class="text-lg font-semibold text-white">
        Attention to detail
      </h3>
      <p class="my-4">
        We believe in paying attention to every detail, no matter how small, to ensure that our
        software solutions meet the highest standards of quality." Please feel free to checkout my
        <span class="text-blue-500"><a href="https://github.com/mnyzio" target="_blank">GitHub</a></span>
        profile.
      </p>
    </blockquote>
    <figcaption class="flex items-center justify-center space-x-3">
      <img class="rounded-full w-9 h-9" src="./img/MirekPhoto-small.jpg" alt="profile picture" />
      <div class="space-y-0.5 font-medium text-white text-left">
        <div>
          Mirek Nyzio
        </div>
        <div class="text-sm text-gray-500 dark:text-gray-400">
          Student | Full Stack Developer
        </div>
      </div>
    </figcaption>
    <a class="text-white mt-4" href="https://github.com/mnyzio" target="_blank">
      <i class="text-4xl devicon-github-original"></i>
    </a>
  </figure>
  <figure
    class="flex rounded-lg shadow-lg flex-col items-center justify-center p-8 text-center border-b rounded-tr-lg bg-gray-800 border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-400 lg:mb-8">
      <h3 class="text-lg font-semibold text-white">
        Passionate learners
      </h3>
      <p class="my-4">
        As software developer students, we are passionate about learning and always seek out new
        technologies to enhance our skills" Please feel free to checkout my
        <span class="text-blue-500"><a href="https://github.com/bootcamparankush" target="_blank">GitHub</a></span>
        profile.
      </p>
    </blockquote>
    <figcaption class="flex items-center justify-center space-x-3">
      <img class="rounded-full w-9 h-9" src="./img/ParankushPhoto-small.jpg" alt="profile picture" />
      <div class="space-y-0.5 font-medium text-white text-left">
        <div>
          Parankush Somraj
        </div>
        <div class="text-sm text-gray-500 dark:text-gray-400">
          Student | Full Stack Developer
        </div>
      </div>
    </figcaption>
    <a class="text-white mt-4" href="https://github.com/bootcamparankush" target="_blank">
      <i class="text-4xl devicon-github-original"></i>
    </a>
  </figure>
  <figure
    class="flex rounded-lg shadow-lg flex-col items-center justify-center p-8 text-center border-b rounded-tr-lg bg-gray-800 border-gray-700">
    <blockquote class="max-w-2xl mx-auto mb-4 text-gray-400 lg:mb-8">
      <h3 class="text-lg font-semibold text-white">
        Continuous improvement
      </h3>
      <p class="my-4">
        We are committed to continuous learning and seek out feedback to improve our skills and
        knowledge." Please feel free to checkout my
        <span class="text-blue-500"><a href="https://github.com/tneiman19" target="_blank">GitHub</a></span>
        profile.
      </p>
    </blockquote>
    <figcaption class="flex items-center justify-center space-x-3">
      <img class="rounded-full w-9 h-9" src="./img/StevePhoto-small.jpg" alt="profile picture" />
      <div class="space-y-0.5 font-medium text-white text-left">
        <div>Steve Neiman</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">
          Student | Full Stack Developer
        </div>
      </div>
    </figcaption>
    <a class="text-white mt-4" href="https://github.com/tneiman19" target="_blank">
      <i class="text-4xl devicon-github-original"></i>
    </a>
  </figure>
</section>