<br>
<section class="max-w-screen-xl mx-auto bg-gray-50 p-12 rounded-3xl my-8 shadow-lg">
  <div class="flex justify-center">
    <div>
      <h2 class="text-2xl text-center font-bold text-slate-800 pb-3">Sign up</h2>
        <form class="form signup-form flex flex-col gap-y-3">        
            <input class="w-96 p-3 rounded-lg shadow-md border text-gray-800 border-blue-500 placeholder:text-blue-500" type="text" id="name-signup" placeholder="name"/> 
            <input class="w-96 p-3 rounded-lg shadow-md border text-gray-800 border-blue-500 placeholder:text-blue-500" type="text" id="email-signup" placeholder="e-mail"/> 
            <input class="w-96 p-3 rounded-lg shadow-md border text-gray-800 border-blue-500 placeholder:text-blue-500" type="password" id="password-signup" placeholder="password" />
            <button class="p-3 rounded-lg shadow-md text-slate-100 bg-blue-500 hover:bg-blue-400 transition duration-300 ease-in-out" type="submit">sign up</button>
        </form>
        <hr>
        <br>
        <h4 class="text-center text-gray-800">Already a member?</h4>
        <br>
        <a href="/api/users/login" class="text-center p-3 border border-blue-500 hover:border-blue-400 ease-in-out transition duration-300 rounded-lg block">Log in</a>
      </div> 
    </div>
  </section>
<br>

<script src="/js/signup.js"></script>